@model IEnumerable<web.Models.Knjiga>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naslov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Letnica_izdaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zalozba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stevilo_strani)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Letnica_izdaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zalozba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stevilo_strani)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
